body {
    background-color: #7fffd414;
    min-width: 210px;
    padding: 12px;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    max-width: 600px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    justify-content: center;
    align-items: center;
    gap: 15px;
}
ul > li > a {
    border: 1px solid rgba(137, 43, 226, 0.85);
    background-color: rgba(137, 43, 226, 0.75);
    &:hover {
        background-color: rgba(137, 43, 226, 0.85);
    }
    &:active {
        background-color: rgba(137, 43, 226, 0.95);
    }

    display: block;
    padding: 10px;
    border-radius: 8px;
    color: aliceblue;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
}
